<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.finalyear">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.blasting.cherrypicker.controlmeasure.DrivingMeasureActivity"
            android:label="Cherry Picker Operation"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.cherrypicker.controlmeasure.PerformingMeasureActivity"
            android:label="Cherry Picker Operation"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.cherrypicker.hazards.DrivingOperationActivity"
            android:label="Cherry Picker Operation"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.cherrypicker.hazards.PerformingOperationActivity"
            android:label="Cherry Picker Operation"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.cherrypicker.CherryPickerActivity"
            android:label="Cherry Picker Operation"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.workshopmaintenance.controlmeasure.OperationMeasureActivity"
            android:label="Workshop Maintenance"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.workshopmaintenance.hazards.OperarationTestActivity"
            android:label="Workshop Maintenance"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.workshopmaintenance.controlmeasure.PressureTestingMeasureActivity"
            android:label="Workshop Maintenance"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.workshopmaintenance.hazards.PressureTestingActivity"
            android:label="Workshop Maintenance"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.workshopmaintenance.controlmeasure.ToppingupMeasureActivity"
            android:label="Workshop Maintenance"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.workshopmaintenance.hazards.TopingUpActivity"
            android:label="Workshop Maintenance"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.workshopmaintenance.controlmeasure.HotworkMeasureActivity"
            android:label="Workshop Maintenance"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.workshopmaintenance.hazards.HotworkActivity"
            android:label="Workshop Maintenance"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.workshopmaintenance.controlmeasure.ChemicalCleaningMeasureActivity"
            android:label="Workshop Maintenance"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.workshopmaintenance.hazards.ChemicalCleaningActivity"
            android:label="Workshop Maintenance"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.workshopmaintenance.controlmeasure.AssembleMeasureActivity"
            android:label="Workshop Maintenance"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.workshopmaintenance.hazards.AssembleActivity"
            android:label="Workshop Maintenance"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.workshopmaintenance.controlmeasure.ElectricalSupplyMeasureActivity"
            android:label="Workshop Maintenance"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.workshopmaintenance.hazards.ElectricalPowerSupplyActivity"
            android:label="Workshop Maintenance"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.workshopmaintenance.controlmeasure.ConnectionDisconnectionMeasureActivity"
            android:label="Workshop Maintenance"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.workshopmaintenance.hazards.ConnectionDisconnectionActivity"
            android:label="Workshop Maintenance"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.workshopmaintenance.WorkshopMaintenanceActivity"
            android:label="Workshop Maintenance"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.forklift.controlmeasure.TravelMeasureActivity"
            android:label="Forklifting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.forklift.controlmeasure.PuttingDownMeasureActivity"
            android:label="Forklifting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.forklift.controlmeasure.DriveMeasuresActivity"
            android:label="Forklifting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.forklift.controlmeasure.AdjustWorkMeasureActivity"
            android:label="Forklifting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.forklift.hazards.PuttingDownActivity"
            android:label="Forklifting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.forklift.hazards.TravelForkliftActivity"
            android:label="Forklifting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.forklift.hazards.DriveForkliftActivity"
            android:label="Forklifting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.forklift.hazards.AdjustWorkActivity"
            android:label="Forklifting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.forklift.ForkliftActivity"
            android:label="Forklifting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.painting.touchup.controlmeasure.WorkHeightMeasureActivity"
            android:label="Painting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.painting.touchup.controlmeasure.CleanUpPaintMeasureActivity"
            android:label="Painting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.painting.touchup.controlmeasure.EntryInPaintMeasureActivity"
            android:label="Painting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.painting.touchup.controlmeasure.PainitngStepMeasureActivity"
            android:label="Painting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.painting.touchup.hazards.CleanupPaintActivity"
            android:label="Painting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.painting.touchup.hazards.WorkHeightPaintActivity"
            android:label="Painting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.painting.touchup.hazards.EntryInPaintActivity"
            android:label="Painting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.painting.touchup.hazards.PaintingStepActivity"
            android:label="Painting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.painting.spraypaint.controlmeasure.WorkingHeightMeasureActivity"
            android:label="Painting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.painting.spraypaint.controlmeasure.SprayPaintMeasureActivity"
            android:label="Painting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.painting.spraypaint.controlmeasure.SetupMeasureActivity"
            android:label="Painting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.painting.spraypaint.controlmeasure.CleanUpMeasureActivity"
            android:label="Painting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.painting.spraypaint.hazards.CleanUpActivity"
            android:label="Painting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.painting.spraypaint.hazards.WorkingHeightActivity"
            android:label="Painting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.painting.spraypaint.hazards.SprayPaintWorkActivity"
            android:label="Painting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.painting.spraypaint.hazards.SettingSprayActivity"
            android:label="Painting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.painting.powertooling.controlmeasure.DemobiliseMeasureActivity"
            android:label="Painting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.painting.powertooling.controlmeasure.ComenecrMeasureActivity"
            android:label="Painting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.painting.powertooling.controlmeasure.SetupMeasureActivity"
            android:label="Painting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.painting.powertooling.hazards.DemobilizeActivity"
            android:label="Painting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.painting.powertooling.hazards.CommenceOperationActivity"
            android:label="Painting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.painting.powertooling.hazards.SetupActivity"
            android:label="Painting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.painting.touchup.TouchupActivity"
            android:label="Painting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.painting.spraypaint.SprayPaintActivity"
            android:label="Painting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.painting.powertooling.PowerToolingActivity"
            android:label="Painting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.painting.PaintingHomeActivity"
            android:label="Painting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.gritblasting.controlmeasure.TransportingGritMeasureActivity"
            android:label="Grit Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.gritblasting.controlmeasure.SetupGritMeasureActivity"
            android:label="Grit Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.gritblasting.controlmeasure.PerformingGritMeasureActivity"
            android:label="Grit Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.gritblasting.controlmeasure.OperatingBlastingMeasureActivity"
            android:label="Grit Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.gritblasting.controlmeasure.EntittyInMeasureActivity"
            android:label="Grit Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.gritblasting.controlmeasure.ConnectionLightMeasureActivity"
            android:label="Grit Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.gritblasting.hazards.PerformingGritActivity"
            android:label="Grit Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.gritblasting.hazards.OperatingBlastingActivity"
            android:label="Grit Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.gritblasting.hazards.EntryInActivity"
            android:label="Grit Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.gritblasting.hazards.ConnectionLightActivity"
            android:label="Grit Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.gritblasting.hazards.SettingUpActivity"
            android:label="Grit Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.gritblasting.hazards.TransportingActivity"
            android:label="Grit Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.gritblasting.GritBlastingActivity"
            android:label="Grit Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.hydroblasting.controlmeasure.SetupMeasureActivity"
            android:label="Hydro Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.hydroblasting.controlmeasure.PumpOutMeasureActivity"
            android:label="Hydro Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.hydroblasting.controlmeasure.PerformingMeasureActivity"
            android:label="Hydro Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.hydroblasting.controlmeasure.EntryMeasureActivity"
            android:label="Hydro Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.hydroblasting.controlmeasure.DemobilizeHydroMeasureActivity"
            android:label="Hydro Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.hydroblasting.controlmeasure.ConnectionWorkMeasureActivity"
            android:label="Hydro Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.hydroblasting.hazards.DemobilizeHydroActivity"
            android:label="Hydro Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.hydroblasting.hazards.PumpingOutActivity"
            android:label="Hydro Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.hydroblasting.hazards.PerformingHydroBlastingActivity"
            android:label="Hydro Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.hydroblasting.hazards.ConnectionOfWorkActivity"
            android:label="Hydro Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.hydroblasting.hazards.SetupHydroActivity"
            android:label="Hydro Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.hydroblasting.hazards.EntryActivity"
            android:label="Hydro Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.hydroblasting.HydroBlastingActivity"
            android:label="Hydro Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.abbrasive.controlmeasure.DemobilizeMeasureActivity"
            android:label="Abrasive Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.abbrasive.controlmeasure.RecyclingMeasureActivity"
            android:label="Abrasive Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.abbrasive.controlmeasure.ClearingGribMeasureActivity"
            android:label="Abrasive Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.abbrasive.controlmeasure.PickupMeasureActivity"
            android:label="Abrasive Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.abbrasive.controlmeasure.CleanGribControlMeasureActivity"
            android:label="Abrasive Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.abbrasive.controlmeasure.SweepControlMeasureActivity"
            android:label="Abrasive Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.abbrasive.controlmeasure.WorkHeightControlMeasureActivity"
            android:label="Abrasive Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.abbrasive.controlmeasure.ConnectionControlMeasureActivity"
            android:label="Abrasive Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.abbrasive.controlmeasure.SetupControlMeasureActivity"
            android:label="Abrasive Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.abbrasive.hazards.DemobilizeActivity"
            android:label="Abrasive Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.abbrasive.hazards.RecyclerAbrasiveActivity"
            android:label="Abrasive Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.abbrasive.hazards.ClearingGritbActivity"
            android:label="Abrasive Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.abbrasive.hazards.PickupBlastingActivity"
            android:label="Abrasive Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.abbrasive.hazards.CleanGritbActivity"
            android:label="Abrasive Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.abbrasive.hazards.SweepBlastingActivity"
            android:label="Abrasive Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.abbrasive.hazards.WorkingHeightActivity"
            android:label="Abrasive Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.abbrasive.hazards.ConnectionWorkActivity"
            android:label="Abrasive Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.abbrasive.hazards.SetupActivity"
            android:label="Abrasive Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.abbrasive.AbrasiveBlastingActivity"
            android:label="Abrasive Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.autoblasting.controlmeasure.SprayControlMeasureActivity"
            android:label="Auto Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.autoblasting.controlmeasure.MaintainanceControlMeasureActivity"
            android:label="Auto Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.autoblasting.controlmeasure.SettingUpControlMeasureActivity"
            android:label="Auto Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.autoblasting.controlmeasure.LiftingControlMesaureActivity"
            android:label="Auto Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.autoblasting.hazards.MaintainanceActivity"
            android:label="Auto Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.autoblasting.hazards.SprayMaterialActivity"
            android:label="Auto Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.autoblasting.hazards.SettingUpActivity"
            android:label="Auto Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.autoblasting.hazards.LiftingActivity"
            android:label="Auto Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.InfoActivity"
            android:label="About SSRA"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.autoblasting.AutoBlastingActivity"
            android:label="Auto Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.blasting.BlastingHomeActivity"
            android:label="Blasting"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SampleDetailsActivity"
            android:label="Details"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
    </application>

</manifest>